<%-include('../partials/header')%>
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>



<div class="row" style="margin-top: 80px;">
    <div class="col-6 mx-auto">
        <form action="/forgot" method="POST">
            <h1 class="display-6">Reset Password</h1>
            
            <div class="mb-3">
                <label for="mail" class="form-label">Email: </label>
                <input type="email" class="form-control" name="email" id="mail" placeholder="Email of the user" required>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Get Reset Link</button>
            <!-- <p class="mt-2">Dont have an account? <a href="/register">Signup now</a></p> -->
        </form>
    </div>
</div>


<script src="/js/script.js"></script>
<%-include('../partials/footer')%>